.template3 {
  font-size: 12px;
  padding: 10px;
  border: 1px solid #000;
  margin: 10px auto;
  width: 100%;
  max-width: 750px;
  box-shadow: none;
  box-sizing: border-box;
  page-break-inside: avoid;
}

.template3 h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.template3 .resume-contact {
  font-size: 12px;
  margin-bottom: 5px;
}

.template3 section {
  margin-bottom: 10px;
  padding: 5px;
}

.template3 h2 {
  font-size: 14px;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

.template3 p {
  font-size: 12px;
  margin: 3px 0;
  line-height: 1.3;
}
